#site-navigationf {
    padding-top: 200px;
    background-image: url("../assets/images/fo.jpg") ;
    padding-right: 50px;

  }
#colophon{

background-color: #000000;
padding-bottom: -1000%;

text-align: center;


}

  #site-navigation {

    padding-top: 60px;

  }
/* #img1{
    background-image: url("../assets/images/m.jpg") ;
} */
div.image{
  content:url("../assets/images/m.jpg");
  width: 700px;
  height: 700px;


}