#site-navigationf {
    padding-top: 200px;
    background-image: url("../assets/images/z.jpg") ;
    padding-right: 50px;
   
  }
#colophon{

background-color: #000000;
padding-bottom: -1000%;

text-align: center;


}

  #site-navigation {

    padding-top: 60px;

  }
/* #img1{
    background-image: url("../assets/images/m.jpg") ;
} */
div.image{
  content:url("../assets/images/m.jpg");
  width: 700px;
  height: 700px;


}

.widget ul li a {

  font-family:'Courier New', Courier, monospace;
  color:black;


}

.widget ul li a:visited{ color: brown;}
.widget ul li a:active{ color: red;}

.widget ul li a:hover{
  border-radius: 10%;
  color:blue;
}